.sidebar {
    height: 100vh;
    width: 8vw;
    position: fixed;



    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    margin-left: 20px;


}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar__Logo {
    height: 40px;
    width: 40px;

}

.sidebar__iconsContainer {
    background-color: #fefefe;

    display: flex;
    flex-direction: column;
}

.sidebar__homeIcon,
.sidebar__cartIcon,
.sidebar__bookmarkIcon,
.sidebar__ordersIcon {
    padding-bottom: 35px;
    font-size: 40px !important;

}

.sidebar__userInfo {

    padding-bottom: 60px;
}

.cartItem__count {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #ff9900;
    margin-left: 29px;
    margin-bottom: -8px;
    color: white;

}

/* @media (max-width: 550px) {
    .sidebar {
        width: 80px;
        transform: translateX(-80px);
        padding: 1.5rem 0;
        transition: all 0.2s;
    }
} */